node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
uploads/
db_backups/
db_table_backup.sql
Commodity_transaction_Possible _Senarios/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
docs/gmail app password.txt
